# Your OpenAI API Key. If GPT-4 is available it will use that, otherwise will use 3.5-turbo
OPENAI_API_KEY=abc
# If you want to enable Helicone proxy and caching
HELICONE_KEY=abc
OPENAI_API_BASE=https://oai.hconeai.com/v1

# Control log level
LOG_LEVEL=INFO
DATABASE_STRING="sqlite:///agent.db"
PORT=8000
AGENT_WORKSPACE="agbenchmark_config/workspace"

BROWSERLESS_API_KEY=yourkey
SERP_API_KEY=yourkey
LINKEDIN_EMAIL=yourkey
LINKEDIN_PASSWORD=yourkey