Process this outline of steps. 
Focusing getting toward the end step
Work through the outline carefully and intelligently

If there is an error when executing a step, add a step to investigate and fix

{% for step in steps %}
- {{ step.step }}
   {% for ability in step.abilities %}
   * Ability Name: {{ ability.name }}
   * Arguments: {{ ability.args }}
   {% endfor %} 
{% endfor %}
