Reply only in JSON exactly in the following format:

{
    \"steps\": [
        {
            \"step\": \"short detailed description of step\",
            \"abilities\": [
                {
                    \"name\": \"name of ability\",
                    \"args\": {
                        \"arg1\": \"value1\", ...
                    }
                }
            ]
        }
    ]
}