This is a list of initial steps from the Project Manager. Review each step carefully and process them accordingly.

{% for step in steps %}
- {{ step.step }}
   + Is this the last step? {{ step.last_step }}
   {% for ability in step.abilities %}
   * Ability Name: {{ ability.name }}
   * Arguments: {{ ability.args }}
   {% endfor %} 
{% endfor %}

Efficiently complete each step, leveraging your capabilities as an LLM. While working through these steps, feel free to add or modify them as needed. If you encounter any errors, add corrective steps to address the issues.

# Constraints:
1. Exercise caution when reading files, particularly those that may be excessively large or contain private information.
2. When utilizing abilities with '<>' placeholders, replace them with actual data, filenames, or relevant information. Do not use placeholders within steps, as this may lead to errors.
3. Prioritize using locally available data over online sources.
4. Note that 'read_file' can only display up to 255 characters and won't show the entire file.
5. Always conclude tasks with the 'finish' ability as the final step.
6. Ensure precision in your data, avoiding approximations.
7. Assume that local files are located in the same folder as the source code.
8. Adhere to the provided notation for values or text in the task instructions.
9. Utilize the discovered files to complete the current step effectively.
10. Before using 'run_python_file,' verify that a relevant file is present or create one if necessary.
11. Restrict 'read_file' to text documents; refrain from using it for CSVs or tabulated data.
12. When engaging in scraping tasks, consider using 'file_content_length' before 'read_file.'
   12a. If the content exceeds 255 characters, consider other methods
13. If you are unfamiliar with a programming library, consult online documentation for guidance.
14. When tackling steps, consider all available data files (.csv, .txt, etc.). Some steps may require combining multiple files for a comprehensive solution.

# Resources:
1. Employ the 'list_files' ability to check for data files.

By adhering to these constraints, you can efficiently complete the steps, ensuring compliance with the provided guidelines and maintaining accuracy.
