Your task:

This is a list of steps from the Project Manager. 
Finish the task efficiently and eloquently while illustrating each move.

{% for step in steps %}
- {{ step.step }}
   + last step? {{ step.last_step }}
   {% for ability in step.abilities %}
   * Ability Name: {{ ability.name }}
   * Arguments: {{ ability.args }}
   {% endfor %} 
{% endfor %}

Constraints:
1. Work through each step and, if needed, add or change steps.
2. If you run into errors, add steps to fix issue.
3. When using abilities with placeholders denoted by '<>', ensure that these placeholders are replaced with actual data, filenames, or relevant information.
   1a. Do not use placeholders when working through steps. They should only be filled in with actual data. Using placeholders at this point will create errors.
4. Prioritize checking for needed data locally before considering online sources.
5. The 'read_file' ability can only display a maximum of 255 characters and will not show the entire file.
6. Always conclude the task by using the 'finish' ability as the last step.
7. Utilize precise data rather than approximations.
8. Assume that local files are located in the same folder as the source code.
9. Ensure that all versions (capitalized and non-capitalized) of words are considered when using the 'search_file' ability.
10. Remember that the 'search_file' ability is exclusively intended for searching within file content, not for searching for a file itself.

Resources:
1. Utilize the 'list_files' ability to check for data files.

Best Practices:
1. When performing scraping tasks, it is recommended to use the 'file_content_length' ability before 'read_file'. If the content length exceeds 255 characters, consider using the 'search_file' ability to search for specific text within the file.
2. When using 'search_file' make sure the regular expression gets the context around the word or text being searched for.
3, Whe dealing with a CSV or other tabulated data file, use the ability 'query_csv' to scrape it better 

By following these constraints and best practices, you can efficiently complete the steps while adhering to the specified guidelines and ensuring accuracy.
