[coverage:run]
branch = True
plugins =
omit =
    # omit anything in a .local directory anywhere
    */.local/*

[run]
branch = True
plugins =
omit =
    # omit anything in a .local directory anywhere
    */.local/*

[paths]
source = .


[report]
# Regexes for lines to exclude from consideration

omit =
    # omit anything in a .local directory anywhere
    */.local/*

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

ignore_errors = True
