.edge-label-renderer {
  position: absolute;
  pointer-events: all;
}

.edge-label-button {
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #555;
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.edge-label-button.visible {
  opacity: 1;
}

.edge-label-button:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  background: #f0f0f0;
}

.edge-label-button svg {
  width: 14px;
  height: 14px;
}

.react-flow__edge-interaction {
  cursor: pointer;
}

.react-flow__edges > svg:has(> g.selected) {
  z-index: 10 !important;
}

.react-flow__edgelabel-renderer {
  z-index: 11 !important;
}
