[report]
exclude_lines =
    pragma: no cover
    pragma: no coverage test (do not delete)
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == ["']__main__["']:

fail_under = 100  
show_missing = True 

[run]
relative_files = true
omit =
    AFAAS/core/user/*
    AFAAS/core/ability/*
    AFAAS/lib/message_agent_*
    AFAAS/core/db/nosql/cosmodb.py
    AFAAS/core/db/nosql/dynamodb.py
    AFAAS/core/db/nosql/mongodb.py
    AFAAS/core/db/sqllikejsonfile.py
    AFAAS/core/db/table/nosql/message_agent_*