# Ignore everything by default, selectively add things to context
classic/run

# AutoGPT
!original_autogpt/autogpt/
!original_autogpt/pyproject.toml
!original_autogpt/poetry.lock
!original_autogpt/README.md
!original_autogpt/tests/

# Benchmark
!benchmark/agbenchmark/
!benchmark/pyproject.toml
!benchmark/poetry.lock
!benchmark/README.md

# Forge
!forge/
!forge/pyproject.toml
!forge/poetry.lock
!forge/README.md

# Frontend
!frontend/build/web/

# Platform
!autogpt_platform/

# Explicitly re-ignore some folders
.*
**/__pycache__

autogpt_platform/frontend/.next/
autogpt_platform/frontend/node_modules
autogpt_platform/frontend/.env.example
autogpt_platform/frontend/.env.local
autogpt_platform/backend/.env
autogpt_platform/backend/.venv/

autogpt_platform/market/.env
