scripts/keys.py
scripts/*json
scripts/node_modules/
scripts/__pycache__/keys.cpython-310.pyc
package-lock.json
*.pyc
auto_gpt_workspace/*
*.mpeg
.env
outputs/*
ai_settings.yaml
ai_settings.yaml
scripts/pinecone_test.py
scripts/auto_gpt_workspace/potential_next_steps.txt
scripts/auto_gpt_workspace/requirements.txt
.gitignore
ai_settings.yaml
