[submodule "agent/Auto-GPT"]
	path = agent/Auto-GPT
	url = https://github.com/Significant-Gravitas/Auto-GPT
	branch = master
[submodule "agent/gpt-engineer"]
	path = agent/gpt-engineer
	url = https://github.com/merwanehamadi/gpt-engineer.git
	branch = benchmark-integration
[submodule "agent/mini-agi"]
	path = agent/mini-agi
	url = https://github.com/SilenNaihin/mini-agi.git
	branch = benchmark-integration
[submodule "agent/smol-developer"]
	path = agent/smol-developer
	url = https://github.com/merwanehamadi/developer.git
	branch = benchmark-integration
[submodule "agent/SuperAGI"]
	path = agent/SuperAGI
	url = https://github.com/SilenNaihin/SuperAGI.git
	branch = benchmark-integration
[submodule "agent/BabyAGI"]
	path = agent/BabyAGI
	url = https://github.com/SilenNaihin/babyagi.git
	branch = benchmark-integration
[submodule "agent/beebot"]
	path = agent/beebot
	url = https://github.com/AutoPackAI/beebot.git
	branch = main
[submodule "agbenchmark/challenges"]
	path = agbenchmark/challenges
	url = https://github.com/SilenNaihin/agbenchmark_challenges.git
	branch = main
