[submodule "forge/tests/vcr_cassettes"]
	path = forge/tests/vcr_cassettes
	url = https://github.com/Significant-Gravitas/Auto-GPT-test-cassettes
[submodule "rnd/supabase"]
	path = rnd/supabase
	url = https://github.com/supabase/supabase.git
