classic/frontend/build/** linguist-generated

**/poetry.lock linguist-generated

docs/_javascript/** linguist-vendored

# Exclude VCR cassettes from stats
classic/forge/tests/vcr_cassettes/**/**.y*ml linguist-generated

* text=auto