azure_api_type: azure
azure_api_base: your-base-url-for-azure
azure_api_version: api-version-for-azure
azure_model_map:
    fast_llm_model_deployment_id: gpt35-deployment-id-for-azure
    smart_llm_model_deployment_id: gpt4-deployment-id-for-azure 
    embedding_model_deployment_id: embedding-deployment-id-for-azure
