# I wasn't having any luck installing the requirements.txt file in Mac or Linux, 
# so I unpinned and installed, and got these versions:
beautifulsoup4==4.9.3
colorama==0.4.6
dirtyjson==1.0.8
# The biggest difference is docker 5 instead of 6, because of this silliness:
# The conflict is caused by:
#     The user requested requests>=2.26.0
#     docker 6.0.1 depends on requests>=2.26.0
#     googlesearch-python 1.1.0 depends on requests==2.25.1
docker==5.0.3
googlesearch-python==1.1.0
openai==0.27.2
playsound==1.3.0
pyyaml==6.0
readability-lxml==0.8.1
requests==2.25.1
