beautifulsoup4
colorama==0.4.6
openai==0.27.2
playsound==1.3.0
python-dotenv==1.0.0
pyyaml==6.0
readability-lxml==0.8.1
requests
tiktoken==0.3.3
docker
git+https://github.com/Nv7-GitHub/googlesearch.git@eed12620ff93f8fb74db7068b9106e88acd4656b#egg=googlesearch-python
# Workaround is needed because requests is pinned to a fixed version in googlesearch-python.
# Replace with googlesearch-python after https://github.com/Nv7-GitHub/googlesearch/pull/45 is merged and released on PyPi

