# I wasn't having any luck installing the requirements.txt file in Mac or Linux
# But this seems to work.
# The biggest difference is docker 5 instead of 6, because of this silliness:
#
# The conflict is caused by:
#     The user requested requests>=2.26.0
#     docker 6.0.1 depends on requests>=2.26.0
#     googlesearch-python 1.1.0 depends on requests==2.25.1
docker==5.0.3

# I'd love to fix this in a cleaner way

# Now go ahead and install the rest of what requirements.txt says:
-r requirements.txt
