{% extends "techniques/expert.j2" %}
{% block expert %}Project Manager{% endblock %}
{% block prompt %}
Generate a profile for the best expert who can complete the task '{{ task }}'. 
Reply only in json with the following format:
{
    "name": "the expert's name",
    "expertise": "specify the area in which the expert specializes"
}
{% endblock %}