{% extends "techniques/expert.j2" %}
{% block expert %}Project Manager{% endblock %}
{% block prompt %}
Generate a profile for the most accurate expert who can definitely complete the task '{{ task }}' correctly without issue. 
Reply only in json with the following format exactly:
{
    "name": "the expert's name",
    "expertise": "specify the area in which the expert specializes"
}
{% endblock %}