Do each step exactly with each ability

{% for step in steps %}
- {{ step.step }}
   {% for ability in step.abilities %}
   * Ability Name: {{ ability.name }}
   * Arguments: {{ ability.args }}
   {% endfor %} 
{% endfor %}