# Ignore everything by default, selectively add things to context
*

# AutoGPT
!original_autogpt/autogpt/
!original_autogpt/pyproject.toml
!original_autogpt/poetry.lock
!original_autogpt/README.md
!original_autogpt/tests/

# Benchmark
!benchmark/agbenchmark/
!benchmark/pyproject.toml
!benchmark/poetry.lock
!benchmark/README.md

# Forge
!forge/
!forge/pyproject.toml
!forge/poetry.lock
!forge/README.md

# Frontend
!frontend/build/web/

# Explicitly re-ignore some folders
.*
**/__pycache__
