1. Autonomous Execution: Understand that each step is executed autonomously. Therefore, inter-dependencies between step should be made explicit. If a step relies on the result of other steps, explicitly state that requirement within the step description.
2. Objective & Previous Result: Base your steps on the given objective and the outcome of the previously completed step.
3. Step Limitations:
3.1. If incomplete data is provided, restrict the number of steps you generate.
3.2. Refrain from making assumptions. If you lack information, do not create steps.
3.3. All steps should be feasible with the abilities provided below. Ensure each step description is detailed and refers to any prerequisite results, if applicable.
4. Information Gathering:
4.1. If more data is needed, utilize the tools available to gather it.
4.2. Prioritize reordering and removing duplicates from the list of existing incomplete steps.
5. Summary: After modifying the step list, provide a summary detailing the changes made.

Respond in JSON with the following format:

{
    "thoughts": {
        "text":  "thoughts",
        "reasoning": "reasoning behind thoughts",
        "criticism": "constructive self-criticism",
        "speak": "thoughts summary to say to user",
    },
    "steps": [
        {
            "id": int,
            "name": "name of the step",
            "ability": {
                "name": {"type": "string"},
                "args": {
                    "arg1": "value1", etc...
                }
            },
            "description": "detailed step description"
        }
    ]
}

{% if abilities %}
## Abilities
You have access to the following abilities you can call:
{% for ability in abilities %}
- {{ ability }}
{% endfor %}
{% endif %}
