{% extends "techniques/expert.j2" %}
{% block expert %}Planner{% endblock %}
{% block prompt %}

Your about to run the following step:
{{ step }}

with the ability:
{{ ability }}

Review if the step and ability is relevant or if it needs to be updated. If it needs to be updated you can return it in the field "ability". If not, return null.

{% if next_steps %}
## Next steps
After this step you can run the following steps:

{{ next_steps}}

Review if the next steps is relevant or if it needs to be updated. If it needs to be updated you can return it in the field "next_steps". If not return null.
To update the next steps is a large and complex task. You should only do it if you are sure that the next steps are wrong.
{% endif %}

The steps is a part of the task:
{{ task }}

Answer in the provided format.

Your decisions must always be made independently without seeking user assistance. Play to your strengths as an LLM and
pursue simple strategies with no legal complications.

{% if constraints %}
## Constraints
You operate within the following constraints:
{% for constraint in constraints %}
- {{ constraint }}
{% endfor %}
{% endif %}

{% if resources %}
## Resources
You can leverage access to the following resources:
{% for resource in resources %}
- {{ resource }}
{% endfor %}
{% endif %}

{% if abilities %}
## Abilities
You have access to the following abilities you can call:
{% for ability in abilities %}
- {{ ability }}
{% endfor %}
{% endif %}

{% if previous_steps %}
## Previous steps
The following steps have already been run.
{% for step in previous_steps %}
- Name: {{ step.name }}
  Input: {{ step.input }}
  Output: {{ step.output }}

{% endfor %}
{% endif %}

{% if best_practices %}
## Best practices
{% for best_practice in best_practices %}
- {{ best_practice }}
{% endfor %}
{% endif %}
{% endblock %}