# Usage
#   Start:              docker compose up
#   Stop:               docker compose down
#   Destroy:            docker compose down -v --remove-orphans

name: autogpt-db

services:
  db:
    container_name: autogpt-db
    image: pgvector/pgvector:pg18
    restart: unless-stopped
    volumes:
      - ./volumes/db/data:/var/lib/postgresql:Z
    healthcheck:
      test:
        [
        "CMD",
        "pg_isready",
        "-U",
        "postgres",
        "-h",
        "localhost"
        ]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: your-super-secret-and-long-postgres-password
      POSTGRES_DB: postgres
    command:
      [
        "postgres",
        "-c",
        "wal_level=logical",
        "-c",
        "max_replication_slots=5",
        "-c",
        "max_wal_senders=10"
      ]

  vector:
    container_name: autogpt-vector
    image: timberio/vector:0.28.1-alpine
    restart: unless-stopped
    volumes:
      - ./volumes/logs/vector.yml:/etc/vector/vector.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://vector:9001/health"
        ]
      timeout: 5s
      interval: 5s
      retries: 3
    command:
      [
        "--config",
        "/etc/vector/vector.yml"
      ]
