Your main objective is to complete the task:
{{ task }}

{% if step %}
The last executed step was "{{ step.name }}" with the following output:
{{ step.output }}
{% endif %}

{% if files %}
## Files
{% for file in files %}
{{file.file_path}}
```
{{file.content}}
```
{% endfor %}
{% endif %}

{% if previous_steps %}
## Previous steps
The following steps have already been executed.
{% for step in previous_steps %}
- Name: {{ step.name }}
{% endfor %}
{% endif %}
