body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f5f5f5;
}

.container {
    max-width: 1250px;
}

h1 {
    color: #f5f5f5;
    margin-bottom: 30px;
}

.json-display {
    padding: 20px;
    border-radius: 5px;
    background-color: #2b2b2b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.json-display h2 {
    margin-top: 0;
    color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.json-display ul {
    list-style-type: none;
    padding: 0;
}

.json-display ul li {
    padding: 5px 0;
}

strong {
    color: #007bff;
}

.argument-box {
    background: #007bff1c;
    padding: 5px;
    margin-top: 5px;
}

.twitter-handles {
    /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-profile-pic {
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
  }
  
