@import "tailwindcss";

:root {
    --background: oklch(0.9789 0.0082 121.6272);
    --foreground: oklch(0 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.5106 0.2301 276.9656);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.7038 0.1230 182.5025);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.9551 0 0);
    --muted-foreground: oklch(0.3211 0 0);
    --accent: oklch(0.7686 0.1647 70.0804);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0 0 0);
    --input: oklch(0.5555 0 0);
    --ring: oklch(0.7853 0.1041 274.7134);
    --chart-1: oklch(0.5106 0.2301 276.9656);
    --chart-2: oklch(0.7038 0.1230 182.5025);
    --chart-3: oklch(0.7686 0.1647 70.0804);
    --chart-4: oklch(0.6559 0.2118 354.3084);
    --chart-5: oklch(0.7227 0.1920 149.5793);
    --sidebar: oklch(0.9789 0.0082 121.6272);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0.5106 0.2301 276.9656);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.7686 0.1647 70.0804);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.7853 0.1041 274.7134);
    --font-sans: DM Sans, sans-serif;
    --font-serif: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --radius: 1rem;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
    --tracking-normal: normal;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0 0 0);
    --foreground: oklch(1.0000 0 0);
    --card: oklch(0.2455 0.0217 257.2823);
    --card-foreground: oklch(1.0000 0 0);
    --popover: oklch(0.2455 0.0217 257.2823);
    --popover-foreground: oklch(1.0000 0 0);
    --primary: oklch(0.6801 0.1583 276.9349);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.7845 0.1325 181.9120);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.3211 0 0);
    --muted-foreground: oklch(0.8452 0 0);
    --accent: oklch(0.8790 0.1534 91.6054);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.7106 0.1661 22.2162);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.4459 0 0);
    --input: oklch(1.0000 0 0);
    --ring: oklch(0.6801 0.1583 276.9349);
    --chart-1: oklch(0.6801 0.1583 276.9349);
    --chart-2: oklch(0.7845 0.1325 181.9120);
    --chart-3: oklch(0.8790 0.1534 91.6054);
    --chart-4: oklch(0.7253 0.1752 349.7607);
    --chart-5: oklch(0.8003 0.1821 151.7110);
    --sidebar: oklch(0 0 0);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.6801 0.1583 276.9349);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.8790 0.1534 91.6054);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(1.0000 0 0);
    --sidebar-ring: oklch(0.6801 0.1583 276.9349);
    --font-sans: DM Sans, sans-serif;
    --font-serif: DM Sans, sans-serif;
    --font-mono: Space Mono, monospace;
    --radius: 1rem;
    --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
    --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
    --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
    letter-spacing: var(--tracking-normal);
}