.loader {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 0;
  animation: ripple 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
