# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Binary output directory
/bin/

# Log files
*.log

# Environment variables file
.env

# Air temporary files (if using Air for live reloading)
tmp/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Debug files
debug

# Project-specific build outputs
/gosrv
