RUN_ENV=local
DB_USER=marketplace
DB_PASS=pass123
DB_NAME=marketplace
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@localhost:${DB_PORT}/${DB_NAME}
SENTRY_DSN=Set correct url or dealete me 