<style>
    body {
        font-size: large;
        color: white; /* set font color to white */
        text-decoration: #faf6f6;
        text-shadow: burlywood 1px 1px 1px;
        font-weight: bold; /* increase font weight to make it clearer */
    }
</style>
