<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL0dz_Lm8U23IlCiOxgXiEGNbeU_Ovr6s</string>
	<key>GCM_SENDER_ID</key>
	<string>568812322479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoGptFlutterClient.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moinsen-autogpt</string>
	<key>STORAGE_BUCKET</key>
	<string>moinsen-autogpt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568812322479:ios:1b50ac7f61321e400b1e5a</string>
</dict>
</plist>