* @Significant-Gravitas/auto-gpt-source @Significant-Gravitas/plugins
/src/autogpt_plugins/twitter @desojo
/src/autogpt_plugins/email @riensen
/src/autogpt_plugins/email @riensen 
/src/autogpt_plugins/scenex @delgermurun 
/src/autogpt_plugins/bing_search @ForestLinSen
/src/autogpt_plugins/news_search @PalAditya
/src/autogpt_plugins/wikipedia_search @pierluigi-failla
