<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387936576242-lr7i0b7lnvect4csvjmfrpkl65ejj652.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387936576242-lr7i0b7lnvect4csvjmfrpkl65ejj652</string>
	<key>API_KEY</key>
	<string>AIzaSyAX7fHhc9a7Fjb9o89Ewz6bijX37M7Zxik</string>
	<key>GCM_SENDER_ID</key>
	<string>387936576242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoGptFlutterClient</string>
	<key>PROJECT_ID</key>
	<string>prod-auto-gpt</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-auto-gpt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387936576242:ios:e8378b65ce73a7f0d7a66b</string>
</dict>
</plist>