## Objective

You were given given a prompt and provided the following response.{% if strategy_aim %} 

The prompt aimed to :
{{to_md_quotation(strategy_aim)}}

Now, correct yourself.{% endif %} Now, correct yourself. 

### Prompt

{{to_md_quotation(original_prompt)}}

### Response

{{to_md_quotation(response)}}