.custom-node {
  @apply p-3;
  border: 3px solid #4b5563;
  border-radius: 12px;
  background: #ffffff;
  color: #000000;
  width: 500px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.custom-node .mb-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  /* Increased to accommodate larger buttons */
  margin-bottom: 10px;
}

.custom-node .mb-2 .text-lg {
  flex-grow: 1;
  margin-right: 10px;
}

/* Existing styles */
.handle-container {
  display: flex;
  position: relative;
  margin-bottom: 0px;
  padding: 5px;
  min-height: 44px;
  width: 100%;
  height: 100%;
}

.react-flow__handle {
  background: transparent;
  width: auto;
  height: auto;
  border: 0;
  position: relative;
  transform: none;
}

.border-error {
  border: 1px solid #d9534f;
}

.select-input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
}

.radio-label {
  display: block;
  margin: 5px 0;
  color: #000;
}

.number-input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  background: #fff;
  color: #000;
}

.array-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.array-item-input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
}

.array-item-remove {
  background: #d9534f;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px;
  padding: 5px 10px;
}

.array-item-add {
  background: #5bc0de;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 5px;
}

.node-output {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid #000; /* Border for output section */
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.error-message {
  color: #d9534f;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 5px;
}

/* Styles for node states */
.completed {
  border-color: #27ae60; /* Green border for completed nodes */
}

.running {
  border-color: #f39c12; /* Orange border for running nodes */
}

.failed {
  border-color: #c0392b; /* Red border for failed nodes */
}

.incomplete {
  border-color: #9f14ab; /* Pink border for incomplete nodes */
}

.queued {
  border-color: #25e6e6; /* Cyanic border for failed nodes */
}

.custom-switch {
  padding-left: 2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
