.custom-node {
  padding: 15px;
  border: 3px solid #4b5563;
  border-radius: 12px;
  background: #ffffff; /* White background */
  color: #000000;
  width: 500px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.node-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1px;
}

.handle-container {
  display: flex;
  position: relative;
  margin-bottom: 0px;
  padding: 5px;
  min-height: 44px;
  width: 100%;
  height: 100%;
}

.react-flow__handle {
  background: transparent;
  width: auto;
  height: auto;
  border: 0;
  position: relative;
  transform: none;
}

.input-container {
  margin-bottom: 5px;
}

.clickable-input {
  padding: 5px;
  width: 325px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  color: #000000;
  cursor: pointer;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.border-error {
  border: 1px solid #d9534f;
}

.clickable-input span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 100px);
  vertical-align: middle;
}

.select-input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
}

.radio-label {
  display: block;
  margin: 5px 0;
  color: #000;
}

.number-input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  background: #fff;
  color: #000;
}

.array-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.array-item-input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
}

.array-item-remove {
  background: #d9534f;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px;
  padding: 5px 10px;
}

.array-item-add {
  background: #5bc0de;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 5px;
}

.node-output {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid #000; /* Border for output section */
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.error-message {
  color: #d9534f;
  font-size: 12px;
  margin-top: 5px;
}

.object-input {
  margin-left: 10px;
  border-left: 1px solid #000; /* Border for nested inputs */
  padding-left: 10px;
}

.nested-input {
  margin-top: 5px;
}

.key-value-input {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.key-value-input input {
  flex-grow: 1;
}

/* Styles for node states */
.completed {
  border-color: #27ae60; /* Green border for completed nodes */
}

.running {
  border-color: #f39c12; /* Orange border for running nodes */
}

.failed {
  border-color: #c0392b; /* Red border for failed nodes */
}

.custom-switch {
  padding-left: 2px;
}
