/* flow.css or index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -600px;
  width: 350px;
  height: calc(100vh - 68px); /* Full height minus top offset */
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  margin-top: 68px; /* Margin to push content below the top fixed area */
}

.sidebar.open {
  left: 0;
}

.sidebar h3 {
  margin: 0 0 10px;
}

.sidebar input {
  margin: 0 0 10px;
}

.sidebarNodeRowStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: grab;
}

.sidebarNodeRowStyle.dragging {
  opacity: 0.5;
}

.flow-container {
  width: 100%;
  height: 600px; /* Adjust this height as needed */
  position: relative;
}
