[flake8]
max-line-length = 88
extend-exclude =
    .*_cache/,
    .venv,
    data/,
    logs/,
    tests/unit/data/,
extend-ignore =
    # No whitespace before ':' conflicts with Black style for slices
    E203,
