repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        language_version: python3.10

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: 'v1.3.0'
  #   hooks:
  #     - id: mypy

  - repo: local
    hooks:
      # - id: autoflake
      #   name: autoflake
      #   entry: autoflake --in-place --remove-all-unused-imports --recursive --ignore-init-module-imports --ignore-pass-after-docstring autogpt tests
      #   language: python
      #   types: [ python ]
      - id: pytest-check
        name: pytest-check
        entry: bash -c 'cd autogpts/autogpt && poetry run pytest --cov=autogpt tests/unit'
        language: system
        pass_filenames: false
        always_run: true
