name: Test and Lint

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Load image url
        id: load_image_url
        run: |
          IMAGE_URL=`make image-url`
          echo "image-url=$IMAGE_URL" >> "$GITHUB_OUTPUT"

      - name: Restore Cache
        uses: actions/cache@v2
        id: restore_cache
        with:
          path: image.tar
          key: ${{ steps.load_image_url.outputs.image-url }}

      - name: Build Docker image
        id: build
        if: steps.restore_cache.outputs.cache-hit != 'true'
        run: |
          IMAGE_URL=`make image-url`
          echo "Building Docker image: $IMAGE_URL"
          make image
          docker save $IMAGE_URL > image.tar

      - name: Cache docker image
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: docker-image.tar
          key: ${{ steps.load_image_url.outputs.image-url }}

  pytest:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run pytest
        uses: ./.github/actions/run-docker
        with:
          command: make pytest

  black:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run black
        uses: ./.github/actions/run-docker
        with:
          command: make black-check

  flake8:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run flake8
        uses: ./.github/actions/run-docker
        with:
          command: make flake8

  pyright:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run Pyright
        uses: ./.github/actions/run-docker
        with:
          command: make pyright
